<!-- SECTION FOOTER -->
<!-- <section id="tth-footer" class="navbar-fixed-bottom" style="background-color: rgba(0, 0, 0, 0.159);">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a class="logo-footer" href="">
                        <img src="imgs/2019/04/logo-truong-thanh-hung-dmo.png" class="img-responsive" alt="">
                    </a>
                    <div class="ft-content">
                        <p>SHOP STORE</p>
                        <p> <a href="tel:+84902955965">Hotline: 0902 955 965 </a></p>
                        <p><a href="mailto:tthung012@gmail.com">Email: tthung012@gmail.com</a></p>
                    </div>
                </div>


                <div class="col-md-3">
                    <h4>STORE</h4>
                    <ul>
                        <li>Ví</li>
                        <li>Thắt lưng</li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>DỊCH VỤ</h4>
                    <ul>
                        <li>Khắc tên</li>
                        <li>Handmade</li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <h4>HỖ TRỢ</h4>
                    <ul>
                        <li>Thanh toán</li>
                        <li>Đổi trả</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</section> -->
<!-- SECTION FOOTE END -->