<!-- SECTION HEADER START -->
<section id="tth-topBar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="" class="tth-leftTop">
                    <i class="fas fa-sign-in-alt"></i> Đăng ký
                </a>

                <a href="" class="tth-leftTop">
                    Tài khoản
                </a>

                <a href="" class="tth-leftTop">
                    <i class="fas fa-luggage-cart"></i> Giỏ hàng
                </a>
            </div>

            <div class="col-md-6 tth-rightTop">
                <div class="float-xl-right">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="tth-search form-control mr-sm-2" type="search" placeholder="Tìm sản phẩm" aria-label="Search">
                        <button class="btn btn-link" type="submit"><i class="fab fa-searchengin"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tth-header">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="#/">
            <img src="../imgs/2019/04/logo-chalusa.png" alt="logo-chalusa">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#/">Trang chủ</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sản phẩm</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#vinam">Ví nam</a>
                        <a class="dropdown-item" href="#vinu">Ví nữ</a>
                        <a class="dropdown-item" href="#thatlung">Thắt lưng</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#review">Review</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#blog">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- SECTION HEADER END -->